<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petición AJAX</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="../js/158indicator.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
</head>

<body>
    <main id="indexContent">
        <h1>Web del Gobierno Vasco donde se puedan ver indicadores sobre vehículos, turismos y taxis</h1>
        <header>
            <a href="../index.html">
                <img src="../img/f-logo-gv.png" alt="Logo de GV-EJ" />
            </a>
            <nav id="mainNav">
                <ul>
                    <ul>
                        <li><a href="102indicator.html">Vehículos</a></li>
                        <li><a href="158indicator.html" class="seleccionada">Turismos</a></li>
                        <li><a href="103indicator.html">Taxis</a></li>
                    </ul>
            </nav>
            <button onclick="idioma()">
                <img id="imglang" src="../img/idioma.png" alt="IDIOMA" />
            </button>
        </header>
        <hr>
        <table>
            <tr>
                <td>
                    <canvas id="48000" width="400" height="200"></canvas>
                </td>
                <td>
                    <canvas id="01000" width="400" height="200"></canvas>
                </td>
            </tr>
            <tr>
                <td>
                    <canvas id="20000" width="400" height="200"></canvas>
                </td>
                <td>
                    <canvas id="00000" width="400" height="200"></canvas>
                </td>
            </tr>
        </table>

        <hr>
        <p id="resumen">Se consideran vehículos turismos, aquellos vehículos de cuatro ruedas, destinados al transporte
            de viajeros
            con capacidad inferior a 9 plazas, incluido el conductor.
            <p id="definicion">Los valores mostrados son el total de vehículos turismos entre el total de habitantes de la comarca (o
            territorio en los gráficos).

        </p>

        <hr>
        <!--1.1 PETICIONES AJAX A TRAVÉS DE FETCH - Listar turismos 
                        <div id="intro">
                            <p>TURISMOS ( &nbsp; </p>
                            <p id="desde"> </p>
                            <p>&nbsp;a&nbsp; </p>
                            <p id="hasta"> </p>
                            <p>&nbsp;de&nbsp; </p>
                            <p id="total"> </p>
                            <p>&nbsp;)&nbsp;</p>
                            <button id="siguientes" onclick="siguiente()">SIGUIENTES</button>
                        </div>-->
        <div id="intro">
            <p>EVOLUCIÓN DEL NÚMERO DE TURISMOS POR CADA UNA DE LAS COMARCAS (</p>
            <p id="total"></p>
            <p>)</p>
        </div>
        <hr>
        <div id="turismos"></div>
        <hr>
</body>
</main>

</html>